<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DepthAI Model Zoo</title>
<!--    font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!--    styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>

<!--navbvar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <div>
           <img style="width: 70px; margin-right: 10px" class="img-fluid" src="https://assets-global.website-files.com/60da16af25d60d769872821a/60da20c2fa0e620315919d91_123Asset%2015%404x-100.1-p-500.png" alt="">
           <a class="navbar-brand" href="#">DepthAI Model Zoo</a></div>
    </div>
</nav>

<header class="container-fluid header-row">
    <div class="col-lg-6 p-5 text-center">
        <div data-aos="fade-in">
            <img src="./assets/img/header-img.png" class="img-fluid" alt="">
            <h1 class="my-3 fw-bold">Luxonix Model Zoo</h1>
            <h3>Browse through our ready-to-use, open source models, including performance details and download links</h3>
        </div>
    </div>
</header>

<!-- header end -->

<div class="sticky-top w-100 p-4 bg-dark">
    <div class="d-flex">
        <input onchange="filterByName(event)" class="form-control filter-categories" type="search" placeholder="Name" aria-label="Search the doc">
        <div class="dropdown">
            <button class="btn filter-search dropdown-toggle" type="button" id="categoryButton" data-bs-toggle="dropdown" aria-expanded="false">
Filter by category
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-filter" aria-labelledby="categoryButton">
                <li class="dropdown-item active" onclick="filterByCategory(event, 'all')">
                    all
                    <span class="label label-primary pull-right">{{ models|length }}</span>
                </li>
                {% for category_name, category_count in categories.items() %}
                <li class="dropdown-item" onclick="filterByCategory(event, '{{ category_name }}')">
                    {{ category_name }}
                    <span class="label label-primary pull-right">{{ category_count }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn filter-search dropdown-toggle" type="button" id="sortButton" data-bs-toggle="dropdown" aria-expanded="false">
                Sort models
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-filter" aria-labelledby="sortButton">
                <li><a class="dropdown-item" onclick="sortByName(event, true)">By A-Z Name</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" onclick="sortByName(event, false)">By Z-A Name</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" onclick="sortByPerformance(event, false)">By Highest Performance</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" onclick="sortByPerformance(event, true)">By Lowest Performance</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" onclick="sortByResolution(event, false)">By Highest Resolution</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" onclick="sortByResolution(event, true)">By Lowest Resolution</a></li>
            </ul>
        </div>
    </div>

</div>



<div class="container root-container">
    <div class="row">
        <div class="row flex-row justify-content-center rounded-3 py-5 container_ModelCard">
            {% for model in models %}
                <div class="col-md-3 card model-box" aria-type="model-box" id="{{ model.name }}" data-name="{{ model.name }}" data-task-type="{{ model.task_type }}"
                     data-fps="{{ model.meta.FPS.mean }}" data-resolution="{{ model.resolution_factor }}">
                    <div class="inner">
                        <div class="nn-img">
                            <img src="./assets/img/core.svg" class="img-fluid card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">{{ model.name }}</h2>
                            <p class="card-text">{{ model.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Task type <span>{{ model.task_type }}</span></li>
                            <li class="list-group-item">FPS <span>{{ model.meta.FPS.mean }}</span></li>
                            <li class="list-group-item">
                                Resolution
                                {% if model.meta.inputs|length > 1 %}
                                <span>Multiple inputs</span>
                                {% else %}
                                <span>{{ model.meta.inputs[0].shape.split(',')|reverse|join('x')|replace(" ", "") }}</span>
                                {% endif %}
                            </li>
                        </ul>
                        <div class="card-footer">
                            <div class="dropdown">
                                <button type="button" class="btn btn-dark dropdown-toggle" id="{{model.name}}Download" data-bs-toggle="dropdown" aria-expanded="false">
                                    Download &nbsp;
                                </button>
                                <ul class="dropdown-menu bg-dark" aria-labelledby="{{model.name}}Download">
                                    {% for download in model.meta.downloads %}
                                        <li class="dropdown-item"><a class="text-decoration-none" href="{{ download.url }}">{{ download.name }}</a></li>
                                        {% if not loop.last %}
                                            <li><hr class="dropdown-divider"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <button class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#{{ model.name }}Modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                                See Details
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% for model in models %}
    <div class="modal fade" id="{{ model.name }}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Model details - {{ model.name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body car">
                    <div class="flex-row justify-content-center">
                        <h4 class="modal-header">
                            {{model.description}}
                        </h4>
                    </div>
                    <div class="row p-3 parent">
                        <div class="product-modal-single-property">
                            <h5>Framework</h5>
                            <span>{{model.framework}}</span>
                        </div>
                        <div class="product-modal-single-property">
                            <h5>Task type</h5>
                            <span>{{model.task_type}}</span>
                        </div>
                        <div class="product-modal-single-property">
                            <h5>Inputs</h5>
                            <ul>
                                {% for input in model.meta.inputs %}
                                    <li>
                                        <span>name: <strong>{{input.name}}</strong></span>
                                    </li>
                                    <li>
                                        <span>type: <strong>{{input.type}}</strong></span>
                                    </li>
                                    <li>
                                        <span>shape: <strong>{{input.shape}}</strong></span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="product-modal-single-property">
                            <h5>FPS</h5>
                            <ul>
                                <li><span>Mean: </span><span><strong>{{model.meta.FPS.mean}}</strong></span>
                                    </li>
                                <li>
                                    <span>STD: </span><span><strong>{{model.meta.FPS.std}}</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-modal-single-property">
                            <h5>Backbone</h5>
                            <span>{{model.meta.backbone}}</span>
                        </div>
                        <div class="product-modal-single-property">
                            <h5>Uses depth info</h5>

                            {% if model.meta.uses_depth %}
                                <span><i class="fa fa-check-circle" aria-hidden="true"></i> Yes</span>
                            {% else %}
                                <span><i class="fa fa-times-circle" aria-hidden="true"></i> No</span>
                            {% endif %}
                        </div>
                        <div class="product-modal-single-property">
                            <h5>Sources</h5>
                            <ul>
                                {% for source in model.meta.source %}
                                    <li><a href="{{source.url}}">{{source.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="product-modal-single-property">
                            <h5>License</h5>
                            <span>{{model.meta.license.name}} (<a
                                    href="{{model.meta.license.url}}">See full license</a>)</span>
                        </div>
                    </div>
                    <div class="modal-footer btn-group">
                    <a href="{{model.documentation}}"
                       class="btn btn-outline-light documentation-button">See documentation</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                Download &nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu bg-dark">
                                {% for download in model.meta.downloads %}
                                <li class="dropdown-item"><a class="text-decoration-none" href="{{ download.url }}">{{ download.name }}</a></li>
                                {% if not loop.last %}
                                    <li><hr class="dropdown-divider"></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init(
  );
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="./assets/js/zooSite.js"></script>
</body>
</html>